@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="url"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="search"],
  input[type="tel"],
  select {
    @apply py-4 px-3 rounded text-body-1 bg-F0F7FA border border-858BB2 text-5F6FAB dark:text-FFFF font-bold focus:outline-none dark:bg-252945 dark:border-252945 focus:border-9277FF focus:ring-9277FF caret-9277FF cursor-pointer;
  }
}

/* ------------------- */
/* Reset starts             */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* set up the body */
body {
  background-color: rgb(227, 224, 247);
  min-height: 100vh;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  font-family: "Baloo 2", League Spartan, sans-serif;
  transition: colors ease-in-out 0.5s;
  color: #fff;
}
/* .dark {
  background-color: #141625;
}
.light {
  background-color: rgb(227, 224, 247);
} */

/* set min width and make sure footer stays at the bottom */
.main-content {
  min-width: 375px;
  min-height: calc(100vh - 99px);
}
.main-footer {
  margin-top: auto;
  min-width: 375px;
}
.full-height {
  min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
textarea {
  resize: none;
}

/* Remove default bullets */
ul {
  list-style: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  background-image: url("../public/calendar.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px;
  cursor: pointer;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.errMessage {
  display: none;
}

/* input:invalid[focus="true"] {
  border: 1px solid #ec5757;
}
input:invalid[focus="true"] ~ .errMessage {
  display: inline-block;
} */
/* navbar */

.card-shadow {
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
}
.opacity-status {
  mix-blend-mode: normal;
  opacity: 0.06;
  /* opacity: 5.71%; */
}

.header-detail {
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
}
.box-shadow-footer-invoice {
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
}
.divider {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.logo::before {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 0px 20px 20px 0px;
}
.error {
  border: 2px solid #ec5757;
}
.errorLabel {
  color: #ec5757;
}
input:invalid[focused="true"] ~ span {
  display: block;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}
.alert-error {
  color: #d73737;
  background: #f7bdbd;
}

.bill-from-input-container {
  grid-template-areas:
    "street street"
    "city  postCode"
    "country country";
}
.bill-to-input-container {
  grid-template-areas:
    "name name"
    "email email"
    "street street"
    "city postCode"
    "country country";
}
.invoice-info-input-container {
  grid-template-areas:
    "date "
    "term"
    "description";
}
.itemsList-input-container {
  grid-template-areas:
    "name name name name "
    "quantity price total deleteIcon";
}
/* .quantity {
  width: 84px;
}
.price {
  width: 100px;
}
.total {
  width: 80px;
} */

@media (min-width: 768px) {
  .bill-from-input-container {
    grid-template-areas:
      "street street street"
      "city postCode country";
  }
  .bill-to-input-container {
    grid-template-areas:
      "name name name"
      "email email email"
      "street street street"
      "city postCode country";
  }
  .invoice-info-input-container {
    grid-template-areas:
      "date date term term"
      "description description description description";
  }
  .itemsList-input-container {
    grid-template-areas: "itemName itemName itemName quantity price price total total deleteIcon";
  }
  .ItemName {
    width: 214px;
  }
  .quantity {
    width: 46px;
  }
  .price {
    width: 100px;
  }
  .total {
    width: 80px;
  }
}

.createdAt {
  grid-area: date;
}
.term {
  grid-area: term;
}
.description {
  grid-area: description;
}
.name {
  grid-area: name;
}
.email {
  grid-area: email;
}
.street {
  grid-area: street;
}
.city {
  grid-area: city;
}
.postCode {
  grid-area: postCode;
}
.country {
  grid-area: country;
}
